mat-toolbar {
  background-color: black;
}

h1 {
  color: yellow;
}

.user {
  padding-right: 30px;
}

.icon {
  color: yellow;
}

.icon-menu {
  background-color: black;
  color: white;
}

a {
  color: black;
}
