.example-container {
  width: 100vw;
  height: 100vh;
}

// .example-sidenav-content {
//   display: flex;
//   height: 100%;
//   align-items: center;
//   justify-content: center;
// }

.example-sidenav {
  width: 250px !important;
  padding: 100px 10px 30px 10px;
  background-color: black;
}

.default-card {
  margin: 30px;
}
