<div [ngClass]="{'wrapper': wrapperContent}">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{ title }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row" fxLayout.lt-sm="column" *ngFor="let row of schemaForm.Rows">
        <div fxLayoutAlign="center center" fxFlex="auto" fxLayout="column" *ngFor="let column of row.Columns">
          <app-input-form style="width: 100%;"
            [schema]="column"
            [object]="object">
          </app-input-form>
          <span *ngIf="column.AdditionalText" class="additional-text">
            {{ column.AdditionalText }}
          </span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <ng-content select="[actions]"></ng-content>
    </mat-card-actions>
  </mat-card>
</div>
