:host {
  place-content: normal !important;
  display: inherit;
  justify-content: center;
  height: 100%;

  background-image: url('../../../assets/login/backgorund.jpg') !important;
  background-size: 100% 100%;
}

.login {
  height: 100%;
}

mat-card {
  opacity: 0.9;
}

.icon {
  font-size: 25px !important;
}

.input-login {
  width: 200px;
}

.padding-icon {
  padding-right: 30px !important;
}
