<div *ngFor="let item of navItens">
  <mat-list class="menu">
    <mat-list-item class="item-menu" fxLayout="center">
      <a routerLink="{{item.url}}">
        <span class="item-name">{{item.name}}</span>
      </a>
    </mat-list-item>
    <div *ngIf="item.childrens">
      <div *ngFor="let children of item.childrens">
        <mat-list class="subMenu">
          <mat-list-item class="item-subMenu" role="listitem">
            <a href="{{children.url}}">
              <span class="item-name">{{children.name}}</span>
            </a>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </mat-list>
</div>
