.menu {
  background-color: #363636;
  padding-top: 5px !important;
}

.subMenu {
  margin-left: 30px;
  background-color: black !important;
}

.item-subMenu:hover {
  background-color: #363636;
}

.item-name {
  color: yellow;
}

.mat-list {
  padding-top: 0px !important;
}

.item-menu {
  margin-top: 10px !important;
}

a {
  width: 100%;
  text-decoration: none;
}
