.mat-dialog-title {
  margin: -24px -24px 20px;
  padding: 30px;
  display: block;
  background-color: #EFF2F6;
}

.mat-dialog-actions {
  margin: 20px -24px -24px;
  padding: 30px;
  display: block;
  background-color: #EFF2F6;
  text-align: end;
}

.btn-yes {
  margin-left: 30px !important;
}

.content-header {
  font-size: 24px;
  color: #808080;
}

.content-body {
    padding: 30px 0px 30px 0px;
}

.content-footer {
  text-align: end;
  font-size: 14px;
}
